html, * {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

:root {
    --color-text: #2D2D2D;
    --color-light: #F8FAFC ;
    --color-accent: #E2EEF8;
    --color-dark: #012559;
    --height-header: 5rem;
    --gap-side: 2rem;
    --gap-small: 1rem;
    --gap-medium : 2rem;
}


/* main shit */

.desktop {display: none;}
p {font-size: 1.1rem;}
img {max-width: 100%;}

@media screen and (min-width: 900px) {
    .mobile {display: none;}
    .desktop {display: flex;}
}


/* navigatie */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gap-side);
    height: var(--height-header);
    color: var(--color-light);
    align-items: center;
}
.wrapper>header {
    position: fixed;
    top: 0; 
    background-color: var(--color-dark);
    display: none;
}
header div.title {
    display: flex;
    align-items: center;
}
header div.title img {
    display: block;
    height: 4rem;
    padding-right: 0.4rem;
}
nav ul {
    list-style: none;
}
header nav ul {
    font-size: 1.6rem;
    display: flex;
    gap: var(--gap-small);
}

div#menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:var(--color-light);
    display: none;
    justify-content: center;
    align-items: center;
}
div#menu>button {
    position: fixed;
    top: var(--gap-side);
    right: var(--gap-side);

    width: 10%;
    aspect-ratio: 1/1;
}


/* structure */
body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100svh;
    background: var(--color-light);
}

#arrow {
    position: absolute;
    bottom: var(--gap-side);
    right: var(--gap-side);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0.8;
    
}

.wrapper {
    position: relative;
}


div.hero {
    width: 100vw;
    height: calc(100svh);

    background-image: url('media/hero_afbeelding.png');
    background-position: 75% center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9999;

    display: flex;
    flex-direction: column;

     color: var(--color-light);
}

div.hero>section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slogan {
    font-size: 3rem;
    max-width: 360px;
    padding: var(--gap-small) var(--gap-side);
}
#introduction {
    font-size: 1.4rem;
    max-width: 360px;
    padding: var(--gap-small) var(--gap-side);
}

h1 {
    padding-bottom: 0.2rem;
}

main {
    padding-top: calc(var(--gap-medium) + var(--height-header));
    padding-left: var(--gap-side);
    padding-right: var(--gap-side);
    padding-bottom: var(--gap-medium);
}

section {
    padding: var(--gap-medium) 0;
}

footer {
    width: 100%;

    padding: var(--gap-side);
    color: var(--color-light);
    background-color: var(--color-dark);
}

footer>* {
      font-size: 0.9rem;
}

/* content home page */

h2 {
    font-size: 2rem;
    padding-bottom: var(--gap-medium);
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-small);
}

.cards>article {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 18/10;

    color: var(--color-light);
    background-color: var(--color-dark);
}

.cards.diensten>article {
    aspect-ratio: 1/1;
}

@media screen and (min-width: 660px) {
    .cards.diensten {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards.diensten>article {
        width: calc((100% - var(--gap-small)) / 2);
    }
}

@media screen and (min-width: 900px) {
    .desktop {display: flex;}

    h2 {text-align: left;}
    .cards, .cards.diensten {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--gap-small);
    }

    .cards>article {
        width: 100%;
        max-width: none;
        color: var(--color-light);
        background-color: var(--color-dark);
    }
}

section#over h2 {
    text-align: center;
}
section#over>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-small);
    text-align: center;
}

section#over>div {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
}
