@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, * {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scrollbar-gutter: stable;
}

:root {
    --color-text: #2D2D2D;
    --color-light: #F8FAFC ;
    --color-accent: #E2EEF8;
    --color-dark: #012559;
    --height-header: 5rem;
    --gap-side: 1rem;
    --gap-small: 1rem;
    --gap-medium : 2rem;
}

/* main shit */

h1 {font-family: "Poppins", sans-serif; padding-bottom: 0.1rem;}
header * {font-family: "Poppins", sans-serif;}
.desktop {display: none;}
p {font-size: 1.1rem;}
img {max-width: 100%;}
a {color: var(--color-dark); text-underline-offset: 0.4rem; text-decoration-thickness: 1px; 
    transition: text-underline-offset 0.2s ease-in-out;}
a:hover {text-underline-offset: 0.2rem;}
header a {color: var(--color-light);}
@media screen and (min-width: 900px) {
    .mobile {display: none;}
    .desktop {display: flex;}
}


/* navigatie */

header {
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--gap-side);
    height: var(--height-header);
    color: var(--color-light);
    align-items: center;
    /* background-image: url('/media/hero_afbeelding.png');
    background-position: 75% center; */
}
.wrapper>header {
    position: fixed;
    top: 0; 
    background-color: var(--color-dark);
    display: none;
}
header div.title {
    display: flex;
    align-items: center;
}
header div.title svg {
    display: block;
    height: 1.8rem;
    padding-right: 0.6rem;
}
nav ul {
    list-style: none;
}
header nav ul {
    font-size: 1.4rem;
    display: flex;
    gap: var(--gap-small);
}
button.open-menu {
    border-radius: 0;
    font-size: 1.2rem;
    text-decoration: solid underline;
    border: none;
    color: var(--color-light);
    background-color: transparent;
    opacity: 0.8;
}

div#menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:var(--color-light);
    display: none;
    justify-content: center;
    align-items: center;
}
div#menu>button {
    position: fixed;
    top: var(--gap-side);
    right: var(--gap-side);

    width: 10%;
    aspect-ratio: 1/1;
}

div#menu li {
    text-align: center;
}

div#menu li>a {
    font-size: 1.4rem;
    line-height: 2.8rem;
}


/* structure */
body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100svh;
    background: var(--color-light);
    scrollbar-gutter: none;
}

.arrow {
    position: absolute;
    bottom: var(--gap-side);
    right: var(--gap-side);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;  
}
.wrapper .arrow {

    rotate: 180deg;
}
.arrow:hover {
    opacity: 1;
}




div.hero {
    width: 100vw;
    height: calc(100svh);

    background-image: url('media/hero_afbeelding.png');
    background-position: 75% center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9999;

    display: flex;
    flex-direction: column;

     color: var(--color-light);
}

div.hero>section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slogan {
    font-size: max(3rem, 4cqw);
    max-width: max(360px, 30%);
    padding: var(--gap-small) var(--gap-side);
}
#introduction {
    font-size: max(1.4rem, 1.8cqw);
    max-width: max(360px, 30%);
    padding: var(--gap-small) var(--gap-side);
}


main {
    padding-top: calc(var(--gap-medium) + var(--height-header));
    padding-left: var(--gap-side);
    padding-right: var(--gap-side);
    padding-bottom: var(--gap-medium);
}

section {
    padding: var(--gap-medium) 0;
}

footer {
    width: 100vw;
    padding: var(--gap-side);
    color: var(--color-light);
    background-color: var(--color-dark);
    position: relative;
}

footer>* {
      font-size: 0.9rem;
}

/* content home page */

h2 {
    font-size: 2rem;
    padding-bottom: var(--gap-medium);
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);
}

.cards * {
    color: var(--color-light);
}

.cards>article {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 18/10;

    color: var(--color-light);
    background-color: var(--color-dark);
}

.cards.diensten>article {
    aspect-ratio: 1/1;
}

@media screen and (min-width: 660px) {
    .cards.diensten {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cards.diensten>article {
        width: calc((100% - var(--gap-medium)) / 2);
    }
}

@media screen and (min-width: 900px) {
    .desktop {display: flex;}

    h2 {text-align: left;}
    .cards, .cards.diensten {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--gap-medium);
    }

    .cards>article {
        width: 100%;
        max-width: none;
        color: var(--color-light);
        background-color: var(--color-dark);
    }
}

.cards article {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    container-type: size;
}

.cards.sectoren .title {
    display: flex;
    align-items: center;
    padding: 4cqw;
    padding-bottom: 0;
}

.cards.sectoren .title img {
    height: min(6cqw);
    padding-right: calc(4cqw / 2);
}

.title h3 {
    font-size: min(8cqw, 2rem);
}

.cards.sectoren article div.content {
    padding: 4cqw;
    line-height: 5cqw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.content>p:first-of-type {
        display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content * {
    font-size: min(5cqw);
}


section#over h2 {
    text-align: center;
}
section#over>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-small);
    text-align: center;
}

section#over>div {
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
}
